cit326
cit270-rest-api
backup
main.tf
kustomization.yaml
README-cloudshell.txt
terraform.tfstate
terraform.tfstate.backup
wordpress-deployment.yaml
mysql-deployment.yaml
__MACOSX
.cache
.config
.docker
.kube
.local
.m2/repository
.npm
.redhat
.ssh
.terraform.d
.terraform
.theia
stedi-private-main
.bash_history
.bash_logout
.bashrc
.boto
.gitconfig
.gitignore
.profile
.terraform.lock.hcl
.viminfo
README-cloudshell.txt
bash_history